 #output {
      background-color: pink;
      width: 200px;
      height: 200px;
      border: 1px solid palevioletred;
      text-align: center;
      color: black;
      font-weight: bold;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
